.app-wrapper {
  max-width: 650px;
  margin: 30px auto;
}
.app {
  padding: 20px;
  border: 1px solid #00204a;
  border-radius: 10px;
  background: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
}
#city-form {
  margin-left: 280px;
  padding: 0px;
}
.weather {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}

#temperature {
  font-size: 70px;
  color: #00204a;
}
#units {
  font-weight: normal;
  font-size: 20px;
  position: relative;
  top: -32px;
  text-decoration: none;
}
a {
  text-decoration: none;
}

.active {
  color: #000;
  cursor: default;
}
h1 {
  color: #00204a;
  font-weight: 500;
  font-size: 50px;
  line-height: 28px;
  margin-bottom: 10px;
  padding-bottom: 5px;
}

ul {
  margin: 0;
  padding: 0;
  color: #00204a;
}
li {
  list-style: none;
  font-size: 15px;
}
body {
  background-color: aliceblue;
}
.weather img {
  margin-right: 0px;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  padding: 0;
  margin: 0;
}
.card {
  flex: auto;
  margin: 0px;
  padding: 0px;
  max-height: 140px;
}
