a {
  text-decoration: none;
}
h1 {
  color: #354abf;
  font-weight: 500;
  font-size: 70px;
  line-height: 28px;
  margin-bottom: 20px;
  padding-bottom: 5px;
}
h1:first-letter {
  text-transform: capitalize;
}

ul {
  margin: 0;
  padding: 0;
  color: #00204a;
}
li {
  list-style: none;
  font-size: 15px;
  font-weight: bold;
  color: #3d289b;
}

li:first-letter {
  text-transform: capitalize;
}
body {
  background-color: aliceblue;
}

.app-wrapper {
  max-width: 700px;
  margin: 30px auto;
}
.app {
  padding: 20px;
  padding-left: 40px;
  border: 1px solid #00204a;
  border-radius: 10px;
  background: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
}
#city-form {
  margin-left: 370px;
  padding: 0px;
}
.weather {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  padding-right: 20px;
}

#temperature {
  font-size: 70px;
  color: #3d289b;
}
#units {
  font-weight: normal;
  font-size: 20px;
  position: relative;
  top: -32px;
  text-decoration: none;
}

.active {
  color: #000;
  cursor: default;
}

.weather img {
  margin-right: 0px;
}
.wind {
  text-align: center;
}

#forecast {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  padding: 0;
  margin: 0;
}
.card-title {
  text-align: center;
  color: #354abf;
  font-weight: bold;
}
.card-text {
  text-align: center;
}
.temp-max {
  color: #3d289b;
  font-weight: bold;
}
.temp-min {
  color: #3994d6;
  font-weight: bold;
}
.button {
  background-color: #65e892;
}
